{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Каталог</title>
    <link rel="stylesheet" href="{% static 'main/styles/styles.css' %}">
</head>
<body>
    <header class="header">
        <div class="header__inner container">
            <div class="logo">Купи Линолеум</div>
        </div>
    </header>
    <main class="content">
        <section class="top container">
            <h1 class="page-title">Каталог</h1>
        </section>
        <section class="filters container">
            <div class="filters__inner">
                <h2 class="filters__title">Сортировка и фильтры</h2>
                <form class="filters__form" method="get">
                    <div class="filters__container">
                        <label for="sort_selector" class="filters__label">Сортировка</label>
                        <label for="brand_selector" class="filters__label">Бренд</label>
                        <label for="width_selector" class="filters__label">Ширина, см</label>
                        <label for="thickness_selector" class="filters__label">Толщина, мм</label>
                        <div></div>
                        <select name="sort" id="sort_selector" class="filters__selector">
                            <option value="" {% if sort_request == '' %}selected{% endif %}>По умолчанию</option>
                            <option value="name" {% if sort_request == 'name' %}selected{% endif %}>По алфавиту (возрастание)</option>
                            <option value="-name" {% if sort_request == '-name' %}selected{% endif %}>По алфавиту (убывание)</option>
                            <option value="price" {% if sort_request == 'price' %}selected{% endif %}>По цене (возрастание)</option>
                            <option value="-price" {% if sort_request == '-price' %}selected{% endif %}>По цене (убывание)</option>
                        </select>
                        <select name="brand" id="brand_selector" class="filters__selector">
                            <option value="" {% if brand_request == '' %}selected{% endif %}>Не важно</option>
                            {% for brand in brands %}
                            {% if brand != '' %}
                            <option value="{{ brand }}" {% if brand_request == brand %}selected{% endif %}>{{ brand }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <select name="width" id="width_selector" class="filters__selector">
                            <option value="" {% if width_request == 0 %}selected{% endif %}>Не важно</option>
                            {% for width in widths %}
                            <option value="{{ width }}" {% if width_request == width %}selected{% endif %}>{{ width }}</option>
                            {% endfor %}
                        </select>
                        <select name="thickness" id="thickness_selector" class="filters__selector">
                            <option value="" {% if thickness_request == -1.0 %}selected{% endif %}>Не важно</option>
                            {% for thickness in thicknesses %}
                            <option value="{{ thickness }}" {% if thickness_request == thickness %}selected{% endif %}>{{ thickness }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="filters__button">Применить</button>
                    </div>
                </form>
            </div>
        </section>
        <section class="products container">
            <h2 class="visually-hidden">Список товаров</h2>
            <ul class="products__list">
                {% for item in products %}
                <li class="products__item">
                    <article class="product">
                        <header class="product__header">
                            <img 
                                src="{{ item.photo }}"
                                alt="Фото {{ item.name }}"
                                class="product__image"
                                width="100" height="100" loading="lazy"
                            />
                            <div class="product__header-content">
                                <h3 class="product__name" title="{{ item.name }}">{{ item.name }}</h3>
                                {% if item.brand != '' %}
                                <div class="product__brand">Бренд: {{ item.brand }}</div>
                                {% endif %}
                                <div class="small-container">
                                    <div class="product__price">{{ item.price }} руб/пог.м.</div>
                                    <a href="{{ item.link }}" class="product__link" target="_blank">В магазин</a>
                                </div>
                            </div>
                        </header>
                        <div class="product__properties">
                            <div class="product__properties-title">Краткие характеристики</div>
                            <ul class="product__properties-list">
                                <li class="product__properties-item property">
                                    <span class="property__name">Ширина:</span>
                                    <span class="property__value">{{ item.width }} см</span>
                                </li>
                                <li class="product__properties-item property">
                                    <span class="property__name">Толщина:</span>
                                    <span class="property__value">{{ item.thickness }} мм</span>
                                </li>
                                <li class="product__properties-item property">
                                    <span class="property__name">Толщина защитного слоя:</span>
                                    <span class="property__value">{{ item.safe_layer }} мм</span>
                                </li>
                                {% if item.fire_safety != '' %}
                                <li class="product__properties-item property">
                                    <span class="property__name">Класс пожарной безопасности:</span>
                                    <span class="property__value">{{ item.fire_safety }}</span>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </article>
                </li>
                {% endfor %}
                {% if products_length == 0 %}
                <div class="no-products-message">Товары не найдены</div>
                {% endif %}
            </ul>
        </section>
    </main>
    <!-- <footer class="footer"></footer> -->
</body>
</html>